@import "tailwindcss";

/* Project defaults */
body {
	background-color: black;
	font-family: system-ui, sans-serif;
	padding: 20px;
	color: #ff0080; /* Neon pink */
}

.card {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: black;
	margin: 8px 0;
	border: 1px solid #8000ff; /* Neon purple border */
}
